.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
    font-family: 'Roboto Slab', sans-serif;
    overflow-y: hidden;
    height: 100vh;
}

.game-container {
    width: 20%;
    max-width: 384px;
    min-width: 384px;
}

.background {
    background-image: url('https://cdn.axieinfinity.com/landing-page/_next/static/images/paper-76baf766d4b1a24001967d2b100fb4dd.jpg');
    position: absolute;
    width: 20%;
    max-width: 384px;
    min-width: 384px;
    height: 500vh;
    z-index: -2;
    background-size: cover;
    border-right: outset #32230C 2px;
}

header {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 64px;
    width: 384px;
    height: 64px;
    background-image: url('../assets/img/header.png');
    position: relative;
}

header .logo {
    position: absolute;
    width: 134px;
    height: 72px;
    margin-left: 50%;
    transform: translateX(-50%);
}

header .logo img {
    width: 100%;
    height: 100%;
}

.game-container-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.game-container .game-container-content .energy-container {
    width: 85%;
    height: 80px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container .game-container-content .energy-container .energy-container-item {
    width: 60px;
    height: 60px;
    display: block;
    font-size: 48px;
    color: #32230C;
    border: 0;
}

.game-container .game-container-content .energy-container .energy-counter {
    background-image: url(../assets/img/energy.png);
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: #fff;
    line-height: 1.2;
    box-sizing: content-box;
}

.game-container .game-container-content button {
    background-color: unset;
    background-image: url('../img/botao_quadrado.png');
    background-size: cover;
    background-position: center;
}

.game-container .game-container-content button:active {
    background-image: url('../img/botao_quadrado_ativo.png');
}

.game-container .animal-container {
    width: 100%;
}

.game-container .animal-container .animal-container-content-row {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.game-container .animal-container .animal-container-content-column {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.game-container .animal-container .animal-container-content-column .animal-card {
    width: 75%;
    height: auto;
    position: relative;
}

.game-container .animal-container .animal-container-content-column .animal-card .animal-counter {
    background-color: #32b5ea;
    position: absolute;
    width: 50px;
    height: 40px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    line-height: 1.6;
    margin-left: 25%;
    transform: skew(-15deg);
    margin-top: -20px;
    cursor: pointer;
}

.game-container .animal-container .animal-container-content-column[disabled="disabled"] {
    filter: grayscale(1);
}

.game-container .animal-container .animal-container-content-column[disabled="disabled"]:not(.animal-counter) {
    cursor: not-allowed;
}

.game-container .animal-container .animal-container-content-column .animal-card img {
    width: 100%;
    height: auto;
}

.game-container .animal-container .animal-container-content-column .animal-card-quantity {
    width: 100%;
    text-align: center;
    color: #32230C;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
}

.game-container .animal-container .animal-container-content-column .animal-card-buttons {
    width: 20%;
}

.game-container .animal-container .animal-container-content-column .animal-card-buttons button {
    width: 20px;
    height: 20px;
    background-color: unset;
    border: 0;
    background-image: url('../img/botao_quadrado.png');
    background-size: cover;
    background-position: center;
}

.game-container .animal-container .animal-container-content-column .animal-card-buttons button:active {
    background-image: url('../img/botao_quadrado_ativo.png');
}

.game-container .animal-container .animal-container-content-column .animal-card-buttons .animal-card-probability {
    margin-top: 5px;
    transform: rotate(90deg);
    color: #32230C;
    font-weight: 700;
}

footer {
    width: 384px;
    height: 64px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

footer .footer-container {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 64px;
    background-image: url('../assets/img/footer.png');
    position: relative;
    width: 100%;
    height: 100%;
}

.new-game {
    background-color: unset;
    background-image: url(/assets/img/botao.png);
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    color: #32230c;
    font-weight: 700;
    border: 0;
    padding: 10px 20px 10px 20px;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.new-game:active {
    background-image: url(/assets/img/botao_ativo.png);
}

.modal-cards {
    width: 600px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    left: calc(384px + 20vw);
    top: calc(50vh - 250px);
    box-shadow: 0px 3px 18px -5px #000;
    padding: 15px 25px;
}

.modal-cards .modal-header strong {
    font-size: 20px;
    display: block;
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
}

.modal-cards .modal-header .modal-cards-class {
    display: flex;
    justify-content: left;
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}

.modal-cards .modal-header .modal-cards-class .modal-cards-class-item {
    border-radius: 10px 10px 10px 10px;
    border: solid 1px;
    padding: 5px 10px;
    margin-top: 2px;
    margin-right: 5px;
    cursor: pointer;
}

.modal-cards .modal-header .modal-cards-type {
    display: flex;
    justify-content: left;
    border-bottom: solid 1px #ccc;
    padding-bottom: 5px;
    padding-top: 5px;
}

.modal-cards .modal-header .modal-cards-type .modal-cards-type-item {
    border-radius: 10px 10px 10px 10px;
    border: solid 1px;
    padding: 5px 10px;
    margin-top: 2px;
    margin-right: 5px;
    cursor: pointer;
}

.modal-label {
    padding-right: 10px;
    line-height: 2.2;
    width: 51px;
}

.aquatic {
    background-color: #fff;
    border-color: #11A4CC;
    color: #11A4CC;
}

.aquatic:hover,
.aquatic.active {
    background-color: #11A4CC;
    border-color: #11A4CC;
    color: #fff;
}

.beast {
    background-color: #fff;
    border-color: #DEAF14;
    color: #DEAF14;
}

.beast:hover,
.beast.active {
    background-color: #DEAF14;
    border-color: #DEAF14;
    color: #fff;
}

.bird {
    background-color: #fff;
    border-color: #F589AD;
    color: #F589AD;
}

.bird:hover,
.bird.active {
    background-color: #F589AD;
    border-color: #F589AD;
    color: #fff;
}

.plant {
    background-color: #fff;
    border-color: #A3BA1C;
    color: #A3BA1C;
}

.plant:hover,
.plant.active {
    background-color: #A3BA1C;
    border-color: #A3BA1C;
    color: #fff;
}

.bug {
    background-color: #fff;
    border-color: #F54E4E;
    color: #F54E4E;
}

.bug:hover,
.bug.active {
    background-color: #F54E4E;
    border-color: #F54E4E;
    color: #fff;
}

.reptile {
    background-color: #fff;
    border-color: #A554D3;
    color: #A554D3;
}

.reptile:hover,
.reptile.active {
    background-color: #A554D3;
    border-color: #A554D3;
    color: #fff;
}

.modal-body {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 25px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.modal-body img {
    height: auto;
    max-height: 177px;
    width: 25%;
    cursor: pointer;
}